include ../../common-components/head/head.jade

doctype html
html
	+head( 'Douchly | Closed Beta' )
	body
	script(src='https://gumroad.com/js/gumroad.js')
	.ntz-wrapper
		.one
			.bottomShadow
			.hero
				a( href="" )
					img.dchr-logo( src="images/logo.png" alt="logo" )
				p Making the world a shittier place, one useless product at a time.
				.actions 
					a( class="play" ) Watch Film
					a( class="buy" ) Closed Beta
					a.about(href='http://www.cashstudios.co/', target='_blank') Meet the Founders
		.two
			.push 
				h1 Join our closed beta.
				p We have a lot of great features up and coming for future builds. Join up for our weekly newlestter on whats new! As a subscriber, you'll also recieve a FREE Douchly or Douchly shirt of your choice.
				a( href='https://gum.co/notechzone', target='_blank' )
					p.label Subscribe
				//- .slick
				//- 	a( href='https://gum.co/notechzone', target='_blank' )
				//- 		img( src="images/img1.jpg" alt="sign1" )
				//- 	a( href='https://gum.co/notechzone', target='_blank' )
				//- 		img( src="images/img2.jpg" alt="sign2" )
				//- 	a( href='https://gum.co/notechzone', target='_blank' )
				//- 		img( src="images/img3.jpg" alt="sign3" )
				//- .arrows
			p.siteby  Development -  
				a( href="http://www.laithazzam.com" target="_blank" )
					| Laith Azzam
			
			

